<div class="center">
    <h6 style="margin-top:10px">
        <a href="https://github.com/SChernykh/onion-monero-blockchain-explorer/tree/devel">source code</a>
        | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | monero version: {{monero_version_full}}
        <br><span style="font-size:0.8rem;">Donate to keep the server running: 44MnN1f3Eto8DZYUWuE5XZNUtE3vcRzt2j6PzqWpPau34e6Cf4fAxt6X2MBmrm6F9YMEiMNjN6W4Shn4pLcfNAja621jwyg</span>
    </h6>
</div>
</body>
</html>
